
<h1>inicia sesión</h1>

<form method="post">
    <label>Nombre user</label>
    <input type="text" name="email" placeholder="Barney" class="form-control" />
    <label>Password</label>
    <input type="text" name="pass" placeholder="12345" class="form-control" />
    <button class="btn btn-primary">
        Iniciar Sesion
    </button>
</form>

<h2 class="text-danger">
    @ViewData["MENSAJE"]
</h2>